.chars-container{
    padding: 15px;
    border: 1px solid gray;
    width: 70%;
    margin: auto;
    margin-block-start: 25px;
    border-radius: 15px;
    .chart-h3{
        color: #ffffff;
        text-align: left;
    }
}